.cuerpoHaiku {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-color: #efefef;
  
}

.fotoDePerfil {
  border-radius: 500%;
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.imagenPrincipal {
  width: 100%;
}

.tituloHaiku {
  font-family: var(--fuente-texto);
  margin-left: 10px;
}

.fotoYTitulo {
  display: flex;
}

.icono {
  color: grey;
  margin-right: 10px;
}
